*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --padding-global:1rem 3rem;
    --max-width:80rem;
    --margin-global:1rem auto;
    --font-family:"Roboto";
}

button{
    border: none;
}

img{
    border-radius: .4rem;
    max-width: 100%;
}

.container-global{
    max-width: var(--max-width);
    padding: var(--padding-global);
    margin: var(--margin-global);
    font-family: var(--font-family);
    
}

header{
    box-shadow: 0 2px 4px rgba(30, 60, 90,0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
}
header img{
    width: 100px;
}


.titulo{
    font-size: 2rem;
    margin: 2rem 0;
    color: #87f;
}

@media(max-width:630px){
    .titulo{
        font-size: 1.3rem;
    }
}

.conteudo-principal{
    text-align: center;
}

.barra-de-pesquisa{
    display: grid;
    justify-content: center;
}

input{
    padding: .6rem 1.2rem;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(30,60,90,.1);
}

.barra-de-pesquisa-div{
    margin-top: 2rem;
    display: flex;
    box-shadow: 0 4px 8px rgba(30,60,90,.1);
    align-items: center;
}

.barra-de-pesquisa-div img{
    background-color: #fff;
    padding: .6rem;
}

.barra-de-pesquisa-div:hover{
    scale: 1.5;
}

/* PRODUTOS INDEX */

.produtos-item{
    margin-top: 3rem;
    gap: 5.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media(max-width:630px){
    .produtos-item{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:430px){
    .produtos-item{
        grid-template-columns: repeat(1,1fr);
    }
}


.card-item-produtos{
    background-color: #fff;
    padding: 1rem ;
    box-shadow: 0 4px 8px rgba(30,60,90,.1);
}

.card-item-produtos:hover{
    scale: 1.2;
    transition: .5s;
}

.preco-produto{
    margin-bottom: 1rem;
    font-weight: bold;
    color: #e80;
    font-size: 1.2rem;
}


.nome-produto{
    color: #345;
    margin: 1rem 0;
}

/* BTN PRINCIPAL */

.btn-principal{
    display: inline-block;
    background-color: #87f;
    color: #fff;
    padding: .8rem 1.5rem;
    margin: 1.5rem 0 ;
    border-radius: .2rem;
    font-family: var(--font-family);
}

/* PAGE CONTA */

.btns-conta-card ul > li > a{
    display: block;
    font-family: var(--font-family);
    padding: .7rem 1.2rem;
    border-radius: .3rem;
    color: #345;
    background-color: #f4f7fc;
    margin: 1rem 0;
}

.btns-conta-card ul > li > a.ativo{
  background-color: #87f;
  color: #fff;
}



[data-container-modal]{
    display: none;
}

[data-container-modal].on{
    display: grid;
}


.formulario-container .login-campo-item{
    display: grid;
    grid-template-columns: 90px 1fr;
}

.formulario-container .login-campo-item input{
    min-width: 1px;
}

.conta-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 200px 1fr
}

@media(max-width:550px){
    .conta-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:370px){
    .conta-container{
        grid-template-columns: auto;
    }
}


.login-container{
    max-width: 500px;
    margin: 0 auto;
}

.container-infos-card.on{
    margin: 1rem 0;
    font-family: var(--font-family);
}

.login-campo-item{
    font-family: var(--font-family);
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
}

.login-campo-item{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.login-campo-item label{
    text-align: left;
}

.login-campo-item input{
    padding: 1.2rem 1.5rem;
    margin: 1rem 0;
}

.btn-div{
    grid-column: 2;
    margin-top: 2rem;
    background-color: #87f;
    padding: .7rem 1.6rem;
    border-radius: .2rem;
    display: block;
}

.btn-div a{
    display: block;
    color: #fff;
}

.meus-produtos{
    margin-top: 2rem;
    color: #345;
}

.btn-link-senha{
    color: #87f;
    margin-top: 2.5rem;
    display: block;
    text-align: center;
}

.login-container .btn-div2 a{
    margin-top: 3rem;
    background-color: #87f;
    padding: .7rem 1.2rem;
    border-radius: .3rem;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    color: #fff;
}

.titulo-criar-conta{
    color: #345;
    max-width: 220px;
    margin: 0 auto;
}


.titulo-criar-conta .btn-div2 a{
    margin-top: 3rem;
    background-color: #87f;
    padding: .7rem 1.2rem;
    border-radius: .3rem;
    display:block;
    max-width: 185px;
    width: 100%;
    color: #fff;
}


.login-campo-item-criar-conta{
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    margin: 1rem 0;
}

.login-criar-conta{
 max-width: 650px;
 margin: 0 auto;
}


.login-criar-conta-form .login-campo-item-criar-conta input{
    padding: 1.2rem 1.6rem;
    width: auto;
    max-width: 450px;
    min-width: 10px;
}


@media(max-width:650px){
    .login-criar-conta-form .login-campo-item-criar-conta input{
        width: auto;
    }
}
@media(max-width:430px){
    .login-campo-item .btn-div2 a{
        padding: .7rem .2rem;
    }
    .login-campo-item-criar-conta{
        gap: 2rem;
        grid-template-columns: 40px auto;
    }
}
@media(max-width:375px){
    .login-criar-conta-form .login-campo-item-criar-conta input{
        width: auto;
    }

    .login-campo-item .btn-div2 a{
        padding: .7rem .1rem !important;
    }
}
@media(max-width:430px){
    .login-campo-item .btn-div2 a{
        padding: .7rem .6rem;
    }
}

.login-criar-conta-form .btn-div2{
    grid-column: 2;
    max-width: 500px;
    width: 100%;
    margin-top: 1rem;
}

.login-criar-conta-form .btn-div2 a{
    background-color: #87f;
    display: block;
    border-radius: .2rem;
    padding: .6rem .4rem;
    color: #fff;
}

[data-menssagem-de-erro-cadastro],[data-menssagem-de-erro-login]{
    color: #e80;
    margin: 1rem 0;
    display: block;
}

footer{
    text-align: center;
    background-color: #87f;
    color: #fff;
    padding: 1.2rem 2rem;
}

/* PAGINA PRODUTO */

.preco-produto{
    margin: 0rem 0 1rem 0;
}

.formulario-page h1{
    margin: 1.8rem 0;
}

.btn-div-comprar{
    background-color: #e80;
    padding: .8rem 1.3rem;
    width: fit-content;
    display: block;
    margin-right: auto;
    border-radius: .2rem;
}

.btn-div-comprar a{
    color: #fff;
}

@media(max-width:380px){
    .btn-div-comprar{
        padding: .6rem .7rem;
        margin-left: -0rem;
    }
    
}

/* PAGINA DO PRODUTO */

.produtos-item2 img{
    max-width: 100%;
}

.produtos-item2{
    display: grid;
    gap:5rem;
    grid-template-columns: 300px 1fr;
}


.nome-produto-page{
    font-size: 2rem;
    color: #345;
}

.descricao-produto-page{
    width: 40ch;
    font-size: 1.5rem;
}

@media(max-width:750px){
    .produtos-item2{
        grid-template-columns: auto;
    }
}

@media(max-width:650px){    
    .nome-produto-page{
    font-size: 1.5rem;
    color: #345;
    }

    .descricao-produto-page{
    width: auto;
    font-size: 1.5rem;
    }
}

/* PRODUTOS COMPRADO */

.produtos-comprados-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: 1rem;
    margin: 1.5rem 0;
}

.produtos-comprados-container img{
    width: 150px;
    object-fit: cover;
    height: 100px;
}

.vendedor-nome{
    color: #e80;
    font-weight: 500;
}

/* PRODUTOS COMPRADOS */

.produtos-comprados-container2 img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.produtos-comprados-container2{
    gap: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
}

.titulo-de-entrega{
    margin-left: auto;
}

[data-abrir-formulario]:disabled{
    background-color: #9c9c9c;
}